libraries:
  - name: "TV Shows"
    type: series
    root: /media/tv

  - name: "Movies"
    type: movie
    root: /media/movies

  - name: "Anime"
    type: series
    root: /media/anime

download:
  tdl_template: 'tdl dl -u {url} -d "{dir}" -t 8 -l 2 --continue --skip-same
    --reconnect-timeout 0 --template "{{ filenamify .FileName }}"'
  tdl_home: /data/tdl
